# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ne-editor1/.gitignore
ne-editor1/index.html
ne-editor1/package.json
ne-editor1/tsconfig.json
ne-editor1/tsconfig.node.json
ne-editor1/vite.config.ts
ne-editor1/grammar/calc.ne
ne-editor1/grammar/calc.ne.json
ne-editor1/public/assets/demo.html
ne-editor1/public/assets/css/animation.css
ne-editor1/public/assets/css/ne-codes.css
ne-editor1/public/assets/css/ne-embedded.css
ne-editor1/public/assets/css/ne-ie7-codes.css
ne-editor1/public/assets/css/ne-ie7.css
ne-editor1/public/assets/css/ne.css
ne-editor1/public/assets/font/ne.eot
ne-editor1/public/assets/font/ne.svg
ne-editor1/public/assets/font/ne.ttf
ne-editor1/public/assets/font/ne.woff
ne-editor1/public/assets/font/ne.woff2
ne-editor1/src/main.tsx
ne-editor1/src/vite-env.d.ts
ne-editor1/src/helpers/handler.js
ne-editor1/src/helpers/message.js
ne-editor1/src/helpers/util.ts
ne-editor1/src/hooks/calc.json
ne-editor1/src/hooks/type.ts
ne-editor1/src/hooks/useConfigHandler.ts
ne-editor1/src/hooks/useForm.ts
ne-editor1/src/hooks/useToggle.ts
ne-editor1/src/neEditor/index.tsx
ne-editor1/src/neEditor/template.jsx
ne-editor1/src/neEditor/parts/icon.jsx
ne-editor1/src/neEditor/parts/item.tsx
ne-editor1/src/neEditor/parts/panel.tsx
ne-editor1/src/theme/editor.scss
ne-editor1/src/theme/index.scss
ne-cli/bin/ne
ne-vscode/media/index.html
ne-vscode/media/manifest.json
ne-vscode/media/assets/demo.html
ne-vscode/media/assets/index-34ee0d82.js
ne-vscode/media/assets/index-36c5ce83.css
ne-vscode/media/assets/index-540b45cb.js
ne-vscode/media/assets/index-ca173adc.css
ne-vscode/media/assets/ne-bdcd012e.ttf
ne-vscode/media/assets/ne-cc95292f.woff2
ne-vscode/media/assets/ne-cfbed234.svg
ne-vscode/media/assets/ne-d9729681.woff
ne-vscode/media/assets/ne-e0ac5155.eot
ne-vscode/media/assets/css/animation.css
ne-vscode/media/assets/css/ne-codes.css
ne-vscode/media/assets/css/ne-embedded.css
ne-vscode/media/assets/css/ne-ie7-codes.css
ne-vscode/media/assets/css/ne-ie7.css
ne-vscode/media/assets/css/ne.css
ne-vscode/media/assets/font/ne.eot
ne-vscode/media/assets/font/ne.svg
ne-vscode/media/assets/font/ne.ttf
ne-vscode/media/assets/font/ne.woff
ne-vscode/media/assets/font/ne.woff2
ne-vscode/out/extension.js
ne-vscode/out/extension.js.map
ne-vscode/out/main/NearleyEditor.js
ne-vscode/out/main/NearleyEditor.js.map
ne-vscode/out/main/NeCompiler.js
ne-vscode/out/main/NeCompiler.js.map
ne-vscode/out/main/ReactEditorProvider.js
ne-vscode/out/main/ReactEditorProvider.js.map
ne-vscode/out/main/util.js
ne-vscode/out/main/util.js.map
ne-vscode/out/test/runTest.js
ne-vscode/out/test/runTest.js.map
ne-vscode/out/test/suite/extension.test.js
ne-vscode/out/test/suite/extension.test.js.map
ne-vscode/out/test/suite/index.js
ne-vscode/out/test/suite/index.js.map
ne-cli/bin/package.json
ne-cli/bin/vite.config.js
ne-cli/bin/vite.config.js.map
ne-cli/bin/src/main.js
ne-cli/bin/src/main.js.map
ne-cli/bin/src/command/build.js
ne-cli/bin/src/command/build.js.map
ne-cli/bin/src/command/run.js
ne-cli/bin/src/command/run.js.map
ne-cli/bin/src/lib/assert.js
ne-cli/bin/src/lib/assert.js.map
ne-cli/bin/src/lib/help.js
ne-cli/bin/src/lib/help.js.map
ne-cli/bin/src/lib/sign.js
ne-cli/bin/src/lib/sign.js.map
ne-vscode/bin/ne
ne-vscode/out/main/NearleyCommand.js
ne-vscode/out/main/NearleyCommand.js.map
